header {
    height: 50px;
}

.nav-brand {
    padding: 1.5rem;
    padding-left: 1.5rem;
    &.click-on {
        content: "";
        border-left: 0.5rem solid blue;
        padding-left: 1rem;
        box-sizing:border-box;
        background: rgba(0, 0, 255, 0.3);
    }
}